
    
h2 {
    text-align: center;
    font-size: 4em;
    
}
h3 {
    display: flex;
}
.centrar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.centrar button {
    display: block;
}

  