/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

* {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0;
  font-weight: 300;
}

body {
  font-family: "Source Sans Pro", sans-serif;
  color: white;
  font-weight: 300;
  background: #50a3a2;
  width: 100%;
  height: 100%;
}

.container {
  margin: 10% auto;
  padding: 40px 0;
  text-align: center;
}
h1 {
  font-size: 60px;
}
.container h1 {
  font-size: 60px;
  font-weight: 200;
}


button {
  border: 0;
  padding: 15px 15px;
  color: #50a3a2;
  border-radius: 3px;
  width: 250px;
  margin: 10px;
  font-size: 18px;
}
dialog{
  display: grid;
  border-radius: 5px;
  padding: 10px ;

}
dialog p {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  margin: 10px;
}
